
/* Agency Directory */
.agency-directory {
    margin: 24px 0;
}

.agency-directory .agency-category {
    margin-bottom: 24px;
}

.agency-directory .agency-category:last-child {
    margin-bottom: 0;
}

.agency-directory .agency-row {
    margin-bottom: 16px;
}

.agency-directory .agency-row:last-child {
    margin-bottom: 0;
}
