:root {
    --primary: rgba(32, 0, 130, 1); 
    --text: rgba(51, 65, 85, 1);
    --surface: rgba(255, 255, 255, 1);
    --border: rgba(186, 186, 186, 1);
    --muted: rgba(95, 95, 95, 1);
    --accent: rgb(81, 70, 183);
    --black: rgb(0, 0, 0);
    --bg-subtle: rgba(240, 240, 240, 1);
    --danger: #e53e3e;
    --sidebar-width: 252px;
    --header-height: 60px;
}